// resets
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

$local-mobile: 596px;

table.body .container {
  @media only screen and (max-width: $local-mobile) {
    width: 100% !important;
  }
}

table.body .columns,
table.body .column {
  @media only screen and (max-width: $local-mobile) {
    padding: 0 !important;
  }
}

th.columns {
  padding: 0 !important;
}

th.first,
th.last {
  padding: 0 !important;
}

table.button {
  margin: 0;
  margin: 0;

  table td a {
    padding: 0;
  }
}

// styles
.stats-wrapper .wrapper-inner {
  padding: 0 30px;

  @media only screen and (max-width: $local-mobile) {
    padding: 0 16px;
  }
}

.stat-container {
  padding: 30px;
}

.header-logo {
  max-width: 138px;
}

.dates {
  font-size: 14px;
  line-height: 1.43;
  text-transform: uppercase;
}

.h1 {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.38;
}

.stats {
  @media only screen and (max-width: $local-mobile) {
    margin-bottom: -16px;
  }
}

.stats-item {
  display: inline-block;
  width: 182px;
  vertical-align: top;

  @media only screen and (max-width: $local-mobile) {
    width: 49%;
    padding-bottom: 16px;
  }

  &__arrow {
    display: inline-block;
    max-width: 13px;
    padding-right: 4px;
  }

  &__grow-value {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.71;

    &_green {
      color: #77b242;
    }

    &_red {
      color: #ee1616;
    }
  }

  &__value {
    font-size: 32px;
    font-weight: bold;
    line-height: 1.25;
  }

  &__desc {
    font-size: 12px;
    line-height: 1.5;
  }
}

// old
.arrow {
  display: inline-block;
  max-width: 13px;
}

.arrow-value {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;

  &_green {
    color: #77b242;
  }

  &_red {
    color: #ee1616;
  }
}

.stat-item {
  display: inline-block;
  width: 183px;

  &__value {
    font-size: 32px;
    font-weight: bold;
    line-height: 1.25;
  }

  &__desc {
    font-size: 12px;
    line-height: 1.5;
    padding-bottom: 24px;
  }
}
// end old

.but {
  display: inline-block;
  border-radius: 3px;
  border: none;
  background: #1976d2;
  background-color: #1976d2;
  color: #fefefe;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.75;
  padding: 8px 30px;
  text-align: center;

  @media only screen and (max-width: $local-mobile) {
    display: block;
  }
}

.stat-but {
  margin: 41px 0 48px;

  @media only screen and (max-width: $local-mobile) {
    margin: 32px 0 40px;
  }
}

.h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1;

  @media only screen and (max-width: $local-mobile) {
    line-height: 1.33;
  }
}

.tiles {
  margin: -8px;

  @media only screen and (max-width: $local-mobile) {
    margin: 0 0 -16px;
  }
}

.tiles-item {
  padding: 8px;
  float: left;

  @media only screen and (max-width: $local-mobile) {
    width: 100%;
    padding: 0;
    padding-bottom: 16px;
  }

  &__wrapper {
    width: 182px !important;
    height: 182px !important;
    padding: 16px;
    border-radius: 4px;

    @media only screen and (max-width: $local-mobile) {
      width: 100% !important;
      height: 128px !important;
    }

    &_green {
      background-color: rgba(132, 226, 47, 0.3);
    }

    &_gray {
      background-color: #ebedf0;
    }

    &_red {
      background-color: rgba(238, 22, 22, 0.2);
    }
  }

  &__icon {
    height: 40px;
    margin-bottom: 8px;

    @media only screen and (max-width: $local-mobile) {
      float: left;
      max-width: 48px;
    }
  }

  &__value {
    margin-bottom: 22px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;

    @media only screen and (max-width: $local-mobile) {
      float: left;
      margin-bottom: 16px;
      padding-left: 16px;
    }
  }

  &__but {
    display: block;
    width: 100%;
    height: 32px;
    white-space: nowrap;
    padding: 4px 0;
    border-radius: 3px;
    border: 1px solid #7ab447;
    background: none;
    background-color: none;
    color: #77b242;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;

    .tiles-item_gray & {
      border: 1px solid #1976d2;
      font-weight: bold;
      color: #1976d2;
    }

    .tiles-item_red & {
      border: 1px solid #ee1616;
      font-weight: bold;
      color: #ee1616;
    }
  }
}

.effect-h2 {
  padding-top: 48px;

  @media only screen and (max-width: $local-mobile) {
    padding-top: 24px;
  }
}

.signature {
  padding: 24px 0;

  @media only screen and (max-width: $local-mobile) {
    padding: 32px 0;
  }
}

.text {
  font-size: 14px;
  line-height: 1.71;
}

.h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
}

.footer {
  background-color: rgba(0, 153, 255, 0.2);

  &__img-wrapper {
    vertical-align: bottom;
    text-align: center;
  }

  &__img {
    max-width: 170px;
    padding-right: 10px;

    @media only screen and (max-width: $local-mobile) {
      margin: auto;
      padding-top: 24px;
    }
  }

  &__text-block-content {
    @media only screen and (max-width: $local-mobile) {
      padding: 0 16px !important;
    }
  }

  .h3 {
    padding-top: 24px;
    color: #112d48;

    @media only screen and (max-width: $local-mobile) {
      line-height: 1.33;
    }
  }

  &__text {
    font-size: 12px;
    line-height: 1.5;
    color: #112d48;

    a {
      color: #112d48;
      text-decoration: underline;
    }
  }
}
